body{
  --slack-color: #3f0f40;
}

  /* for scrollbar */
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

.app__body{
  display: flex;
  height: 100vh;
}